# macOS
.DS_Store
**/.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcarchive
.build/

# Swift Package Manager
.swiftpm/

# Secrets (API keys)
Secrets.xcconfig
